/.web-server-pid
/app/config/parameters.yml
/api/config/parameters.yml
/build/
/phpunit.xml
/var/bootstrap.php.cache
!/var/cache
/var/cache/*
/var/data/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/node_modules
