parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: appmarket
    database_user: root
    database_password: ~
    database_path: '%kernel.project_dir%/var/data/data.sqlite'

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    apk_dir: '%kernel.project_dir%/data/apk'

    jwt_private_key_path: '%kernel.root_dir%/../var/jwt/private.pem'
    jwt_public_key_path:  '%kernel.root_dir%/../var/jwt/public.pem'
    jwt_key_pass_phrase:  'kameha37'
    jwt_token_ttl:        3600
