{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h2>Login</h2>
        </div>
        <div class="row">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="{{ path('login') }}" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />

                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" />
                <button class="btn waves-effect waves-light right" type="submit" name="action">Login
                    <i class="material-icons right">person</i>
                </button>
            </form>
        </div>
    </div>
{% endblock %}
